h1 Checkout


div#dropin

link rel="stylesheet" href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/3.3.0/adyen.css"
script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/3.3.0/adyen.js"

javascript:
  const configuration = {
    locale: "en-US",
    environment: "test",
    originKey: "#{ENV['ORIGIN_KEY']}",
    paymentMethodsResponse: #{ raw @payment_methods_response }
  };

  const checkout = new AdyenCheckout(configuration);

  function makePayment(data) {
    let csrfToken = document.head.querySelector("[name~=csrf-token][content]").content
    fetch('/checkouts', {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': csrfToken
      }
    })
    .then((response) => {
      console.log('/checkouts Response Return')
      debugger
      return response.json();
    })
  }

  function makeDetailsCall(data) {
    let csrfToken = document.head.querySelector("[name~=csrf-token][content]").content
    fetch('/checkouts/details', {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': csrfToken
        // 'Content-Type': 'application/x-www-form-urlencoded',
      }
    }).then((response) => {
      console.log('/checkout/details Response Return')
      return response.json();
    })
  }

  const dropin = checkout
    .create('dropin', {
      paymentMethodsConfiguration: {
        card: { // Example optional configuration for Cards
          hasHolderName: true,
          holderNameRequired: true,
          enableStoreDetails: true,
          hideCVC: false, // Change this to true to hide the CVC field for stored cards
          name: 'Credit or debit card',
          amount: {
            value: 10000,
            currency: "EUR"
          }
        }
      },
      onSubmit: (state, dropin) => {
        // const result = makePayment(state.data)
        let csrfToken = document.head.querySelector("[name~=csrf-token][content]").content
        fetch('/checkouts', {
          method: 'POST',
          body: JSON.stringify(state.data),
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': csrfToken
          }
        })
        .then((response) => {
          console.log('/checkouts Response Return')
          debugger
          return response.json();
        })
        .then(action => {
          console.log(action)
          dropin.handleAction(action);
          // Drop-in handles the action object from the /payments response
        })
        .catch(error => {
          throw Error(error);
        });
      },
      onAdditionalDetails: (state, dropin) => {
        makeDetailsCall(state.data)
          // Your function calling your server to make a /payments/details request
          .then(action => {
            debugger
            dropin.handleAction(action);
            // Drop-in handles the action object from the /payments/details response
          })
          .catch(error => {
            throw Error(error);
          });
      }
    })
    .mount('#dropin');
